.createCourse-form {
    display: flex;
    place-items: center;
    justify-content: center;
    max-width: 600px;
    margin: 0 auto;
}

.createCourse-form-title {
    width: 100%;
}

.createCourse-form-description {
    width: 100%;
    max-width: 100%;
}
.createCourse-form, label {
    display: grid;
    place-items: center;
    justify-content: left;
    margin: 15px;
    max-width: 500px;
}

.createCourse-form-textarea {
    width: 400px;
}

.createCourse-authors{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px;
}

.createCourse-author-author-btn, .createCourse-authors-author-name {
    margin: 20px;
}
